$textcolor: black;
$fontsize: 20px;
@keyframes gradient {
   0% {
       background-position: 0% 50%;
   }
   50% {
       background-position: 100% 50%;
   }
   100% {
       background-position: 0% 50%;
   }
}

.Searcher{
    background: linear-gradient(-45deg, #351f18, #5c263b, #144a5d, #136753);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    color: $textcolor;
    font-size: $fontsize;
}