.List {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 0.5rem 1rem;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    & a {
      display: block;
      width: 100%;
      padding: 10px;
      text-decoration: none;
      color: #ffaa00;
      font-family: "StarWars";
      font-size: 26px;
      font-weight: 500;
      font-style: italic;
      letter-spacing: 5px;
      text-align: center;
    }
  }
}

