 
 @font-face {
    font-family: 'StarWars';
    src: url('./Stjldbl1.ttf')  format('truetype')/* Safari, Android, iOS */
  }

.center {
    display: flex;
    justify-content: center;
  }

  .start {
    display: flex;
    justify-content: start;
  }

  .end{
      display: flex;
      justify-content: end;
  }

.Home-Title{
    color: #ffaa00;
    font-family:'StarWars';
    text-shadow: 4px 4px 8px #000000;
  }

  .Home-Hero{
    font-size: 30px;
  }
